.main-page-container {
  text-align: center;
  background-color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .table-container {
    margin: 20px 0;
    max-width: 90vw;

    .custom-table {
      background-color: #2196f3;
      th,
      td {
        color: #ffffff;
      }
      &__header {
        &__cell {
          &.edit {
            width: 25px;
          }
          &.delete {
            width: 40px;
          }
        }
      }
    }
  }
  .custom-button {
    a {
      display: flex;
      text-decoration: none;
      color: #000;
    }
  }
  .add-book-button-holder {
    width: 90vw;
  }
}

.error {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    font-size: 28px;
    text-align: center;
  }
}

img {
  cursor: pointer;
}
