.modal {
  background: url('../../assets/pngs/opened-book.png') no-repeat center center;
  background-size: cover;
  width: 500px;
  height: 345px;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  &__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .modal {
    width: 80%;
  }
}
