@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
.LCP {
  margin: 1rem 2rem;
  h1 {
    color: #663127;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Sedan SC', serif;
    font-style: normal;
  }
}
body {
  background-color: #f4ddcb;
  margin: 0;
}
